body{
  margin: 0;

}
header {
  background-image: url(../img/helmet.jpg);
  position: fixed;
  top: -45px;
  right: 200px;
  color: white;
  height: 430px;
  width: 870px;
}
nav{
  padding: 40px 10px
}
h1, ul {
  margin: 0;
  display: inline-block;
}
h1{
  font-size: 50px;
  letter-spacing: -5px;
  float: left;
}
h1 a {
  text-decoration: none;
  color: inherit;
}
h1 span{
  color: rgb(190, 7, 7)
}
ul li{
  display: inline-block;
  padding: 10px;
}
ul li:hover{
  cursor: pointer;
}
ul li:hover,
.active {
  background-color: rgb(190, 7, 7);
  border-top-right-radius: 20px 50%;
  border-top-left-radius: 20px 50%;
  border-bottom-left-radius: 20px 50%;
  border-bottom-right-radius: 20px 50%;
}
