@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  margin: 0;
  font-family: 'Roboto Slab';
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body ul, body li, body a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

body .btn {
  border: 2px solid #6dc5af;
  color: #6dc5af;
  padding: 13px 20px;
  border-radius: 5px;
  font-weight: bold;
}

body .btn:hover {
  background-color: rgba(109, 197, 175, 0.05);
}

body .base-style {
  display: inline-block;
  color: #3D4449;
  border-bottom: 2.5px solid #6dc5af;
  font-size: 17px;
  padding: 0 10px 10px 0;
}

body .b-s-add {
  font-size: 5vh;
  border-width: 3px;
}

nav.open {
  left: 0;
}

nav {
  position: absolute;
  left: -300px;
  width: 300px;
  background-color: #F5F6F7;
  font-size: 11px;
}

nav aside {
  margin: 8%;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 30px;
}

nav aside a {
  display: inline-block;
  overflow: hidden;
}

nav aside img {
  width: 100%;
  border-radius: 5px;
  transition: 250ms all ease-in-out;
  margin-top: 20px;
}

nav aside img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

nav div {
  width: 100%;
  background-color: #e7e9ec;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav div input {
  width: 75%;
  padding: 8px 0 8px 10px;
  margin: 15px 10px 15px 0;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

nav ul li {
  padding: 13px 0;
  border-bottom: 1px solid lightgrey;
  letter-spacing: 1.3px;
  position: relative;
}

nav ul li i.fa-angle-down {
  font-size: 15px;
  font-weight: 900;
  color: #535d67;
  position: absolute;
  top: 10px;
  right: 0;
}

nav ul:first-of-type li:last-of-type {
  border: none;
}

nav ul ul {
  margin-left: 25px;
  display: none;
}

nav ul ul li {
  border: none;
  padding: 6px 0;
  color: #a0aab3;
}

nav p {
  color: #535d67;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

nav aside:nth-of-type(3) {
  padding-bottom: 5px;
}

nav aside:nth-of-type(3) p:first-of-type, nav aside:nth-of-type(3) p:last-of-type,
nav aside:nth-of-type(3) + p {
  border: none;
}

nav aside:nth-of-type(3) p {
  font-size: 13px;
}

nav p i.fa {
  color: #6dc5af;
  padding-right: 10px;
  font-size: 16px;
}

nav aside:nth-of-type(3) + p {
  padding: 5% 8% 10%;
}

nav i.fa-bars {
  color: #6dc5af;
  position: absolute;
  top: 25px;
  right: -50px;
  font-size: 26px;
}

.small {
  margin-left: 300px;
}

main {
  width: 100vw;
  padding: 40px 7%;
  box-sizing: border-box;
}

main header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 5px solid #6dc5af;
  font-size: 11px;
}

main header h1 {
  transition: 250ms all ease-in-out;
}

main header h1 span {
  color: #869199;
  font-weight: 400;
  transition: 250ms all ease-in-out;
}

main header h1:hover, main header h1:hover span, main header div i.fa:hover {
  color: #6dc5af;
}

main header div i.fa {
  padding: 5px;
  font-size: 20px;
}

main section.one {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 60px 0;
  border-bottom: 1px solid lightgrey;
}

main section.one aside {
  color: #869199;
  width: 70%;
}

main section.one aside h2 {
  margin: 0;
  padding: 0;
  font-size: 3.5vw;
  color: #3D4449;
}

main section.one aside p:first-of-type {
  padding: 5px 0;
  letter-spacing: 1.5px;
}

main section.one aside p:last-of-type {
  width: 90%;
  padding: 10px 0 60px;
  font-size: 14px;
}

main section.one img {
  width: 50%;
  height: 400px;
  border-radius: 5px;
}

main section.two div.parent {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

main section.two div.parent div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}

main section.two div.parent div i.fa {
  font-size: 12vh;
  color: #6dc5af;
  padding: 15px;
  position: relative;
}

main section.two div.parent div i::after {
  content: "";
  border: 1px solid lightgrey;
  padding: 60px;
  position: absolute;
  top: -10px;
  left: 0;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
}

main section.two div.parent div aside {
  width: 75%;
}
