@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Chewy');
html {
  margin: 0;
}
body{
  background-color: black;
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: white;
}
section {
  display: flex;
  font-family: 'Chewy', cursive;
  margin: 0;
  height: 615px;
  background-position:  center bottom;
  background-image: url(../img/camera.jpg);
  background-size: cover;
}
section  div {
  text-align: center;
  position: absolute;
  top: 106px;
  left:40%;
}
section div img{
  height: auto;
  width: 210px;
  border-radius: 100%
}
.web img{
  width: 60%;
}

main{
  margin-right: 0;
  margin: 0;
}
main aside  {
text-align: center;
}
main .effect{
  background-color: black;
  margin: 0;
  margin-left: 12px;
  margin-bottom: 5px;
  margin-right: 0;
}


.effect img {
  padding-top: 5px;
  margin: 0;
  width: 350px;
  height: 220px;
  z-index: 1;
}
.effect {
  margin-top: 0;
    position:relative;
    width:300px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:black
}
.effect h2 {
  margin: 0;
    padding:10px;
    top:20px;
    position:relative
}
.effect h2 {
  margin-left: 5px;
    font-size:20px;
    line-height:24px;
    margin:0;}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-96px;
    padding-top:100px
}
#reference {
  text-align: center;
}
footer{
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding-top: 55px;
}
.fa-facebook-square, .fa-instagram, .fa-twitter {
  flex-direction: row;
  font-size: 30px;
  color: white;
}
