
#meter{
  background-color: white;
  position: fixed;
  top: 10px;
  left: 10px;
  box-shadow: 4px 4px 8px hsla(0, 0%, 0%, 0.5);
  padding: 10px;
  z-index: 9999;
}
#meter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
body{
  margin: 0;
}
header {
  height: 400px;
  background-image: url('http://unsplash.it/1000/400?image=450');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
section{
  padding: 50px;
}
section.colorIn{
  background-color: blue;
  transition: background-color 2000ms ease-out;
}
section.color{
  background-color: purple;
  transition: background-color 2000ms ease-out;
}
section.colorOut{
  background-color: red;
  transition: background-color 2000ms ease-out;
}
section img {
  position: relative;
  left: -100%;
  transition: left 1000ms ease-out;

  float: left;
  width: 35%;
  margin-right: 50px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 2px 4px 8px hsla(0, 0%, 0%, 0.5);

}
section.visible img {
  left: 0%;
}
section:nth-child(2) img{
  float: right;
  margin-right: 0;
  margin-left: 50px;
  margin-bottom: 25px;
}
footer{
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 60%);
}
