@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
body{
  background-image: linear-gradient( #940202, #690203 3vw, black 13vw);
  background-repeat: no-repeat;
}
header{
  background-image: url(../img/headbg.jpg);
  background-position: center;
  background-size:cover;
  padding-top: 8vw;
  margin: 0 20vw;
}
h2, h3{
  margin: 20px 0 0 0;
}
h2 + p, h3 + p{
  margin: 0 0 20px; 0;
}
#index h2, #index h2 + p{
  color: #A55300;
}
h3, h3 {
  color: #B16116;
}
p{
  color: #838870;
}
hr{
  margin: 0;
}
ul, ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
header nav{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
header nav h1{
  position: absolute;
  font-size: 4vw;
  color: transparent;
  top: 3vw;
}
header nav img{
  width: 20vw;
  position: relative;
}
header nav ul{
  display: flex;
  list-style: none;
}
header nav ul li{
  padding: .5vw 2vw;
  margin: 1px;
  background-image: url(../img/menubg.jpg);
  background-repeat: no-repeat;
}
header nav ul li a{
  font-size: 15px;
  color: hsl(39, 88%, 41%);
}#index section aside p {
  color: #A55300;
}
#index section aside div p {
  color: #838870;
}
#index header nav ul li:nth-of-type(1){
  background-image: url(../img/menubghover.jpg);
}
header nav ul li:hover{
  background-image: url(../img/menubghover.jpg);
}
section:nth-of-type(1){
  display: flex;
  margin: 0 20vw;
}
aside{
  padding: 32px;
}
section aside:nth-of-type(1){
  background-image: url(../img/leftbg.jpg);
  background-position:top, right;
  background-repeat: no-repeat;
  flex: 3;
  margin-right: 10px;
}
#index section aside > p{
  font-size: 1.5vw;
  color: #B16116;
}
#index section aside > p::first-letter{
  float: left;
  font-size:10vw;
}
#index section aside img{
  float: left;
  margin-right: 20px;
}
section aside:nth-of-type(2){
  flex: 1;
  background-image: url(../img/rightbg.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: flex-start;
}
aside nav ul li{
  display: inline;
}
aside nav ul li a{
  color: #A55300;
}
aside nav i{
  color: #BCBCBC;
}


#index section:last-of-type{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  width: 98vw;
  background-color: #2B0A03;
  position: relative;
}
#index section:last-of-type img:first-of-type{
  position: absolute;
  right: .9%;
  top: -25%;
}
#index section:last-of-type img:last-of-type{
  position: absolute;
  right: 0vw;
  top: 0;
}
#index section:last-of-type ul hr{
  border: 1px dashed #ccc;
}
#index section:last-of-type a{
  color: red;
}
#index section:last-of-type li a{
  color: #838870;
}
#characters section aside h3 {
  color: orange;
  /*flex-direction: column;*/
}
#characters section aside p {
  color: white;
}
#characters h3 {
margin:  5px 0
}
/*DECORATING*/
#decorating section {
  margin-bottom: 200px;
}
#decorating section:nth-of-type(1) div {
  display: flex;
}
#decorating section:nth-of-type(1) h1 {
  font-size: 20px;
  color: hsl(32, 99%, 40%);
}
#decorating section:nth-of-type(1) a {
  color: #838870;
}
#decorating img {
  align-self: flex-end;
}
.bot {
  width: 100%;
  height: 50px;
  background-color: #2A0A04;
}
.bot img {
  margin-left: 68vw;
}
.foot {
  color: hsl(32, 99%, 40%);
  background-color: #000000;
  padding-bottom: 40px;
  margin-left: 20vw;
}
.foot div {
  display: flex;
}
.foot div h6 {
  font-size: 12px;
  margin-right: 5px
}
.foot p {
  color: hsl(32, 99%, 40%);
}
.foot div h6::after {
  content: "|";
  margin-left: 5px;
}
.none::after {
  display: none;
}
#parties h2 {
  color: #B16116;
}


#parties article p {
  color: #838870;
}


#parties aside:first-of-type div {
  border-bottom-color: #838870;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  padding: 10px 0;
}


#parties aside:first-of-type div a {
  padding-left: 10px;
  text-decoration: underline;
  color: #838870;
}


#parties aside:first-of-type div p {
  padding-top: 10px;
}


#parties aside:last-of-type nav {
  border-bottom-color: #838870;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  padding-bottom: 25px;
}


@media screen and (max-width:776px){
  header nav{
    flex-wrap: wrap;
  }
  header nav img{
    width: 50%;
  }
  header nav ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  header nav ul li{
    background-color: red;
    background-image: none;
  }
  header nav ul li a{
    font-size: 3vw;
  }
}
