@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:300");
h1 {
  border: 1px solid lightgray;
  border-radius: 5px;
}

h1 {
  background-color: purple;
}

body {
  font-family: sans-serif;
}

h1 {
  color: #2862d7;
}

h2 {
  font-family: Raleway;
  font-weight: 300;
}

.btn {
  display: inline;
  background-color: pink;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 0 10px 10px #d79d28;
}

.btn:hover {
  text-decoration: none;
}

a.btn:last-of-type {
  background-color: pink;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

ul:first-of-type li {
  width: calc(100% / 5);
  background-color: pink;
}

ul:nth-of-type(2) li {
  width: calc(100% / 7);
  background-color: red;
}

ul:nth-of-type(3) li {
  width: calc(100% / 9);
  background-color: blue;
}
