body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  height: 500px;
  background-image:url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}
img{
  float: left;
  width: auto;
  height: 20px;
}
nav{
  padding: 40px 10px
}
h1, ul {
  margin: 0;
  display: inline-block;
}
h1{
  font-size: 44px;
  letter-spacing: -5px;
}
h1 a {
  text-decoration: none;
  color: inherit;
}
h1 span{
  color: rgb(43, 161, 161)
}
ul{
  float: right;
}
ul li {
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  margin-left: 10px
}
ul li:hover{
  cursor: pointer;
}
ul li:hover,
.active {
  background-color: hsl(194, 84%, 66%);
  border-top-right-radius: 20px 50%;
  border-top-left-radius: 20px 50%;
  border-bottom-left-radius: 20px 50%;
  border-bottom-right-radius: 20px 50%;
}
