body{
  background-image:url(../img/background.jpg);
}
img{
  float: left;
  position: absolute;
  top: 5%;
  left: 3%;
}
header h1{
  float: left;
  color: white;
  position: absolute;
  top: 1.2%;
  left: 10%;
}
header h3 {
  float: right;
  color: white;
  position: absolute;
  top: 4%;
  left:45%

}
