body{
  margin: 0;
}
header {
  background-image: url(../img/background.jpg);
  position: center;
  color: white;
  height: 100%;
}
img{
  float: left;
  width: auto;
  height: 70px;
}
nav{
  padding: 40px 10px
}
h1, ul {
  margin: 0;
  display: inline-block;
}
h1{
  font-size: 50px;
  letter-spacing: -5px;
  float: left;
}
h1 a {
  text-decoration: none;
  color: inherit;
}
h1 span{
  color: rgb(43, 161, 161)
}
ul li{
  display: inline-block;
  padding: 20px;
}
